/*:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
}*/

body {
    scroll-behavior: smooth;  
}

.header {
    position: fixed;
    width: 1440px;
    height: 150px;
    top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    background: url(./assets/images/de3ed309-1c52-4718-abd9-b16a074e29dd.png) no-repeat center;
    background-size: 1440px 150px;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 320px;
    height: 140px;
    left: 2.5%;
    position: relative;
    z-index: 5;
}

#logout {
    position: relative;
    float: right;
    margin: 10px 3px;
    text-decoration: none;
}

.home {
    position: relative;
    background-color: rgb(167, 207, 250);
    width: 360px;
    height: 100px;
    text-align: center;
    display: block;
    float: left;
    border: 2px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    /*  transition: all 0.5s;*/
}
.home:hover {
    background-color: rgb(255, 255, 255);
}

.list {
    position: relative;
    background-color: rgb(255, 221, 100);
    width: 360px;
    height: 100px;
    text-align: center;
    display: block;
    float: left;
    border: 2px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    /*  transition: all 0.5s;*/
}
.list:hover {
    background-color: rgb(255, 255, 255);
}

.comment {
    position: relative;
    background-color: rgb(194, 241, 100);
    width: 360px;
    height: 100px;
    text-align: center;
    display: block;
    float: left;
    border: 2px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    /*  transition: all 0.5s;*/
}
.comment:hover {
    background-color: rgb(255, 255, 255);
}

.plofile {
    position: relative;
    background-color: rgb(255, 177, 234);
    width: 360px;
    height: 100px;
    text-align: center;
    display: block;
    float: left;
    border: 2px solid rgb(0, 0, 0);
    /*  transition: all 0.5s;*/
}
.plofile:hover {
    background-color: rgb(255, 255, 255);
}

.menu_a {
    position: relative;
    text-decoration: none;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 0;
}

.menu_img {
    position: relative;
    height: 75px;
    width: 80px;
    top: 10px;
    margin-left: 5px;
}

.contact {
    position: relative;
    width: 1440px;
    background-color: rgb(248, 207, 178);
    display: block;
    border-radius: 30px;
    top: 250px;
    margin: 30px 30px 0 50px;
    padding: 10px 0;
    z-index: -1;
}

.contact h1 {
    display: block;
    width: 1400px;
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

.contact p {
    margin-left: 500px;
    font-size: 20px;
    line-height: 5px;
}